{{ if and (not .Values.imagePullSecret.existingSecretName) (.Values.imagePullSecret.enabled)  }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "gateway.imagePullSecret" . }}
  labels:
    app: {{ template "gateway.name" . }}
    chart: {{ template "gateway.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    {{- range $key, $val := .Values.additionalLabels }}
    {{ $key }}: "{{ $val }}"
    {{- end }}
  {{- if  .Values.additionalAnnotations }}
  annotations:
    {{- range $key, $val := .Values.additionalAnnotations }}
    {{ $key }}: "{{ $val }}"
    {{- end }}
  {{- end }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ template "imagePullSecret" . }}
{{ end }}