{{ if and (not .Values.otk.job.imagePullSecret.existingSecretName) (.Values.otk.job.imagePullSecret.enabled)  }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "otkImagePullSecretName" . }}
  annotations:
    # "helm.sh/hook": pre-install
    # "helm.sh/hook-weight": "-5"
  {{- if  .Values.additionalAnnotations }}
    {{- range $key, $val := .Values.additionalAnnotations }}
    {{ $key }}: "{{ $val }}"
    {{- end }}
  {{- end }}
  labels:
    app: {{ template "gateway.name" . }}
    chart: {{ template "gateway.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    {{- range $key, $val := .Values.additionalLabels }}
    {{ $key }}: "{{ $val }}"
    {{- end }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ template "otkImagePullSecret" . }}
{{ end }}