{{- if and (.Values.config.redis.enabled) (.Values.config.redis.tls.enabled) (not .Values.config.redis.tls.existingSecret) (not .Values.config.redis.subChart.enabled) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "redisTlsSecretName" . }}
  labels:
    app: {{ template "gateway.name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    {{- range $key, $val := .Values.additionalLabels }}
    {{ $key }}: "{{ $val }}"
    {{- end }}
  {{- if  .Values.additionalAnnotations }}
  annotations:
{{- range $key, $val := .Values.additionalAnnotations }}
    {{ $key }}: "{{ $val }}"
{{- end }}
{{- end }}
type: Opaque
data:
  tls.crt: {{ .Values.config.redis.tls.redisCrt | b64enc }}
{{- end }}