gateway/my-values.yaml
/examples/gateway/edge-gateway/*-replaced.yaml
/examples/sts-gateway/*-replaced.yaml

# misc
.idea/
gateway/.idea
.DS_Store
utils/apim-tps.*
utils/tenant_info.json
utils/payload.json