apiVersion: v2
appVersion: "5.2.0"
description: CA API Developer Portal
name: portal
version: 2.2.11
type: application
home: https://github.com/CAAPIM/apim-charts
maintainers:
  - name: Gazza7205
sources:
  - https://github.com/CAAPIM/apim-charts
engine: gotpl
dependencies:
- name: druid
  version: ^1.0.0
  condition: portal.analytics.enabled
  repository: "file://../druid"
- name: mysql
  version: 9.4.7
  repository: "https://raw.githubusercontent.com/bitnami/charts/archive-full-index/bitnami"
  condition: global.setupDemoDatabase
- name: rabbitmq
  version: 7.6.6
  repository: "https://raw.githubusercontent.com/bitnami/charts/archive-full-index/bitnami"
  condition: rabbitmq.enabled
- name: ingress-nginx
  repository: "https://kubernetes.github.io/ingress-nginx/"
  version: 4.0.9
  condition: ingress.create
