apiVersion: v2
appVersion: "5.0.2.7"
description: CA API Developer Portal
name: portal
version: 2.1.5
type: application
home: https://github.com/CAAPIM/apim-charts
maintainers:
  - name: Gazza7205
sources:
  - https://github.com/CAAPIM/apim-charts
engine: gotpl
dependencies:
- name: druid
  version: ^1.0.0
  condition: portal.analytics.enabled
  repository: "file://../druid"
- name: mysql
  version: 8.2.5
  repository: "https://charts.bitnami.com/bitnami"
  condition: global.setupDemoDatabase
- name: rabbitmq
  version: 7.6.6
  repository: "https://charts.bitnami.com/bitnami"
  condition: rabbitmq.enabled
- name: ingress-nginx
  repository: "https://kubernetes.github.io/ingress-nginx/"
  version: 2.15.0
  condition: ingress.create
