{{- if .Values.global.deepStorage.enableDataMigration }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: minio-config
  labels:
    app: minio
    chart: {{ template "druid.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  SERVICE_NAME: minio
{{- end }}