{{ if .Values.podDisruptionBudgets.enabled }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: analytics-pdb
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: analytics-server
{{ end }}
