apiVersion: apps/v1
kind: Deployment
metadata:
  name: portal-enterprise
  labels:
    app: portal-enterprise
    chart: {{ template "portal.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    {{- range $key, $val := .Values.global.additionalLabels }}
    {{ $key }}: "{{ $val }}"
    {{- end }}
    {{- range $key, $val := .Values.portalEnterprise.additionalLabels }}
    {{ $key }}: "{{ $val }}"
    {{- end }}
spec:
  {{- if .Values.portalEnterprise.strategy }}
  strategy: {{- toYaml .Values.portalEnterprise.strategy | nindent 12 }}
  {{- end }}
  replicas: {{ .Values.portalEnterprise.replicaCount }}
  selector:
    matchLabels:
      app: portal-enterprise
  template:
    metadata:
      labels:
        app: portal-enterprise
      {{ if .Values.portalEnterprise.forceRedeploy }}
      annotations:
        timestamp: {{ now | quote }}
      {{- end }}
    spec:
      serviceAccountName: {{ include "portal.serviceAccountName" . }}
      {{- if .Values.portalEnterprise.affinity }}
      affinity: {{- toYaml .Values.portalEnterprise.affinity | nindent 12 }}
      {{- end }}
      {{- if .Values.portalEnterprise.nodeSelector }}
      nodeSelector: {{- toYaml .Values.portalEnterprise.nodeSelector | nindent 12 }}
      {{- end }}
      {{- if .Values.portalEnterprise.tolerations }}
      tolerations: {{- toYaml .Values.portalEnterprise.tolerations | nindent 12 }}
      {{- end }}
      {{- if .Values.global.schedulerName }}
      schedulerName: "{{ .Values.global.schedulerName }}"
      {{- end }}
      {{- if .Values.portalEnterprise.podSecurityContext }}
      securityContext: {{- toYaml .Values.portalEnterprise.podSecurityContext | nindent 12 }}
      {{- else if .Values.global.podSecurityContext }}
      securityContext: {{- toYaml .Values.global.podSecurityContext | nindent 12 }}
      {{- end }}
      initContainers:
        - name: liquidbase-upgrade-portal
          image: "{{ .Values.global.portalRepository }}{{ .Values.image.upgradeVerify }}"
          args: ["job", 'db-upgrade']
        - name: liquidbase-upgrade-rbac
          image: "{{ .Values.global.portalRepository }}{{ .Values.image.upgradeVerify }}"
          args: ["job", 'rbac-upgrade']
      containers:
        - name: portal-enterprise
          image: "{{ .Values.global.portalRepository }}{{ .Values.image.enterprise }}"
          imagePullPolicy: "{{ .Values.portalEnterprise.image.pullPolicy }}"
          {{- if .Values.portalEnterprise.containerSecurityContext }}
          securityContext: {{- toYaml .Values.portalEnterprise.containerSecurityContext | nindent 12 }}
          {{- else if .Values.global.containerSecurityContext }}
          securityContext: {{- toYaml .Values.global.containerSecurityContext | nindent 12 }}
          {{- end }}
          env:
            - name: RABBITMQ_DEFAULT_PASS
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.rabbitmq.auth.secretName }}
                  key: rabbitmq-password
            - name: RABBITMQ_ERLANG_COOKIE
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.rabbitmq.auth.secretName }}
                  key: rabbitmq-erlang-cookie
            - name: PAPI_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.portal.papi.secretName }}
                  key: papi-username
            - name: PAPI_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.portal.papi.secretName }}
                  key: papi-password
            - name: ENTERPRISE_DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.global.databaseSecret }}
            {{ if eq .Values.global.databaseType "mysql" }}
                  key: mysql-password
            {{ end }}
            - name: RBAC_DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.global.databaseSecret }}
            {{ if eq .Values.global.databaseType "mysql" }}
                  key: mysql-password
            {{ end }}
            - name: SEARCH_DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.global.databaseSecret }}
            {{ if eq .Values.global.databaseType "mysql" }}
                  key: mysql-password
            {{ end }}
            # test only variables
            - name: RBAC_CLIENT_CACHE_EXPIRY
              value: "{{ .Values.portalEnterprise.RBAC_CLIENT_CACHE_EXPIRY }}"
            - name: THEME_CACHE_EXPIRY
              value: "{{ .Values.portalEnterprise.THEME_CACHE_EXPIRY }}"
          envFrom:
          - configMapRef:
              name: portal-enterprise-config
          - secretRef:
              name: portal-enterprise-secret
          readinessProbe:
            exec:
              command:
                - livenesscheck
            initialDelaySeconds: 60
            timeoutSeconds: 1
            periodSeconds: 15
            successThreshold: 1
          livenessProbe:
            exec:
              command:
                - livenesscheck
            initialDelaySeconds: 180
            timeoutSeconds: 1
            periodSeconds: 15
            successThreshold: 1
          {{- if .Values.portalEnterprise.resources }}
          resources: {{- toYaml .Values.portalEnterprise.resources | nindent 12 }}
          {{- end }}
          ports:
            - containerPort: 8080
            {{- if .Values.global.enableMetricEndpoints }}
            - containerPort: 9999
            {{ end }}
      {{- if .Values.global.pullSecret }}
      imagePullSecrets:
      - name: "{{ .Values.global.pullSecret }}"
      {{- end }}
      restartPolicy: Always
      terminationGracePeriodSeconds: 60
